#body{
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;
    color: #483124;
    font-family: 'Mali';
}

#body h3{
    font-size: 32px;
    margin-top: 70px;
}

#item-order-detail{
    margin-top: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#item-photo{
    width: 926px;
    text-align: center;
}

img#item-preview{
    width: 451px;
    height: 677px;
}

#item-purch-detail-container{
    width: 564px;
}

#body #item-order-detail #item-purch-detail-container h2,p,label{
    color: #483124;
    font-weight: 400;
}

#body #item-order-detail #item-purch-detail-container h2{
    font-size: 36px;
}

#body #item-order-detail #item-purch-detail-container p#curr-price{
    font-size: 36px;
    font-weight: bold;
}

#body #item-order-detail #item-purch-detail-container p#curr-price::before{
    content: 'P ';
}

#body #item-order-detail #item-purch-detail-container #item-purch-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #483124;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container{
    width: 415px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
    margin-top: 30px;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #size{
    width: 152px;
    height: 52px;
    font-family: 'Roboto';
    font-size: 32px;
}

/* Decrease - Increase Item QTY section */
#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #dec-inc-qty-container{ 
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    border: 1px solid #483124;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #dec-inc-qty-container button,span#item-amount{ 
    height: 50px;
    width: 50px;
    font-family: 'Roboto';
    font-size: 40px;
    border:none;
    background-color: white;
    color: #483124;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #dec-inc-qty-container span#item-amount{ 
    display: block;
    width: 50px;
    text-align: center;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container label{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
}


/* Add to cart and Buy Button Section */
#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #add-buy-button-container{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #add-buy-button-container button{
    width: 187px;
    height: 72px;
    font-family: 'Mali';
    font-size: 24px;
    margin: 0;
    border: 1px solid #483124;
    cursor: pointer;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #add-buy-button-container #add-to-cart-btn{
    background-color: white;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-actions-container #add-buy-button-container #buy-btn{
    background-color: #483124;
    color: white;
}


/* Item Description section */
#body #item-order-detail #item-purch-detail-container #item-purch-details #item-desc-container{
    width: 484px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-desc-container h3{
    margin-top: 0;
    font-size: 32px;
    font-weight: 700;
}

#body #item-order-detail #item-purch-detail-container #item-purch-details #item-desc-container p{
    font-size: 24px;
    font-weight: 400;
}


/* Recommended items section */
#reco-container{
    display: flex;
    width: 100%;
    padding-top: 28px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px;
}

.item-card{
    min-width: 362px;
    height: 470px;
    border: 1px solid #483124;
    text-align: center;
}

.item-card img,p,button{
    margin-left: auto;
    margin-right: auto;
}

.item-card img{
    margin-top: 28px;
    margin-bottom: 26px;
    width: 160px;
    height: 268px;
    object-fit: cover;
}

.item-card p{
    color: #483124;
    font-size: 24px;
}

.item-card button{
    margin-top: 9px;
    color: white;
    background-color: #483124;
    width: 154px;
    height: 54px;
    border: none;
    font-size: 20px;
    font-family: 'Mali';
    cursor: pointer;
}

.item-card p.item-name{
    font-weight: 400;
}

.item-card p.item-price{
    font-weight: 700;
}

.item-card .item-price::before{
    content: "From ";
    font-size: 15px;
    font-weight: 400;
}

hr{
    margin-top: 62px;
    border-color: #483124;
}


/* media queries section */
@media (max-width: 430px) {
    #body h3{
        margin-left: 25px;
    }

    #recommendations{
        justify-content: center;
    }
}